<div class="conainer=fluid">
<div class="row-fluid">
	<div class="col col-lg-4">
		<div class="well">
			<p>Richard Braxton may be contacted via <a href="mailto:richard@richardbraxton.org">email</a>.</p>
			<p>He is also available via:</p>
			<li><a href="https://www.facebook.com/Immortality"><i class="fa fa-facebook fa-2x"></i> Facebook</a></li>
			<li><a href="https://www.linkedin.com/profile/view?id=189350713"><i class="fa fa-linkedin fa-2x"></i> LinkedIn</a></li>
			<li><a href="https://github.com/RJBraxton/"><i class="fa fa-github fa-2x"></i> Github</a></li>
		</div>	
	</div>
</div>
</div>'