<div class="container-fluid">
	<row>
		<div class='col col-lg-6 well'>
			<table class="table table-bordered">
				<tr>
					<td><strong>Type: </strong>{{info.volcanoType}}</td>
					<td><strong>Country: </strong>{{info.country}}</td>
				</tr>
				<tr>
					<td><strong>Last Eruption: </strong>{{info.lastEruption}}</td>
					<td><strong>Region: </strong>{{info.region}}, {{info.subregion}}</td>
				</tr>
				<tr>
					<td>Major Rocks</td>
					<td><strong>Elevation: </strong>{{info.elevation}}ft</td>
				</tr>
				<tr>
					<td>Minor Rocks</td>
					<td><strong>Coordinates: </strong>{{info.coors}}</td>
				</tr>
				<tr>
					<td><strong>Tectonic Setting: </strong>{{info.tectonic}}</td>
					<td></td>
				</tr>
			</table>
		</div>
		<div class='col col-lg-6 well'>
			<div id="detailmap" ng-model="info"></div>
			<p>{{eqinfo}}</p>
		</div>
	</row>
</div>