<div class="container-fluid">
	<row>
		<div class='col col-lg-6 '>
			<table class="table table-bordered well">
				<tr>
					<td><strong>Type: </strong>{{info.volcanoType}}</td>
					<td><strong>Country: </strong>{{info.country}}</td>
				</tr>
				<tr>
					<td><strong>Last Eruption: </strong>{{info.lastEruption}}</td>
					<td><strong>Region: </strong>{{info.region}}, {{info.subregion}}</td>
				</tr>
				<tr>
					<td><strong>Major Rocks</strong><br/>
					<text ng-repeat="rocks in info.majorRockTypes"> -{{rocks}} <br/></text></td>
					<td><strong>Elevation: </strong>{{info.elevation}}ft</td>
				</tr>
				<tr>
					<td><strong>Minor Rocks</strong><br/>
					<text ng-repeat="rocks in info.minorRockTypes"> -{{rocks}} <br/></text></td>
					<td><strong>Coordinates: </strong>{{info.coors}}</td>
				</tr>
				<tr>
					<td><strong>Tectonic Setting: </strong>{{info.tectonic}}</td>
					<td></td>
				</tr>
			</table>
			<p>
				<table class="table table-bordered well">
					<tr>
						<td colspan="2"><strong>Population within __</strong></td>
					</tr>
					<tr>
						<td><strong>5km</strong></td>
						<td>{{info.populationRanges[0]}}</td>
					</tr>
					<tr>
						<td><strong>10km</strong></td>
						<td>{{info.populationRanges[1]}}</td>
					</tr>
					<tr>
						<td><strong>30km</strong></td>
						<td>{{info.populationRanges[2]}}</td>
					</tr>
					<tr>
						<td><strong>100km</strong></td>
						<td>{{info.populationRanges[3]}}</td>
					</tr>
				</table>
			</p>
		</div>
		<div class='col col-lg-6 well'>
			<div id="detailmap" ng-model="info"></div>
			<p>{{eqinfo}}</p>
		</div>
	</row>
</div>