<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 well text-center">
      INFO, yeah
    </div>
    <div class="col-lg-10  well text-center">
      <h1>'Allo, 'Allo! </h1>
      <p class="lead">
        <div id="map"></div>
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
  </div>
  <div class="row marketing">
    <h4>Info</h4>
    <p>
      Possibly have a menu on the left from which you can select a certian volcano and have details about it displayed here?
    </p>

    <h4>Help</h4>
    <p>
      Here we're going to talk a bit about volcanoes. Some information will be provided. People will learn things.
    </p>
  </div>

</div>